i {
    display: inline;
    color: #4A4A4A;
}

body {
     font-family: helvetica, sans-serif;
    color: #4A4A4A;
}

h1 {
    color: #F5A623;
    font-weight: 600;
}

h2 {
    color: #4A4A4A;
    font-weight: 500;
    padding-bottom: 10px;
}

h3 {
    
}

li, p {
    color: #4A4A4A;
    line-height: 25px;
    font-weight: 300;
    font-size: 0.85em;
}

li {
    font-weight: 600;
}

footer {
    background-color: #F5A623;
}

.btn {
    padding: 12px 15px;
    border: 1.2px solid #4A4A4A;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 0;
}
 
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-primary:hover {
    color: #4A4A4A;
    font-weight: 700;
}
 
.btn-primary {
    background: 0;
    color: #4A4A4A;
    outline: inherit;
    outline-width: thick;
}
 
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: 0;
}
 
.btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;
}

.btn.sharp {
  border-radius: 0;
}




.list-group-item {
    background-color: transparent;
    border: none;
    color: white;
    padding-bottom: 2px;
    padding-top: 2px;
}

.new_section {
    padding-top: 6%;
    padding-bottom: 6%;
    padding-left: 4%;
    padding-right: 4%;
}

.flexbox {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    height: 50%;
    width: 50%;
}

.logo {
    display: inline-block;
    padding-top: 23px;
    padding-left: 7px;
    width: 50px;
    height: 50px;
    border: 4px solid #F5A623;
    text-align: center;
    font-weight: bold;
    color: white;
    line-height: auto;
}

.logo span {
    position: static;
    font-weight: bold;
    font-size: 22px;
    color: white;
    line-height: 0px;
}

.navbar-inner {
    padding-top: 1%;
    padding-bottom: 0.45%;
    padding-left: 10%;
    padding-right: 10%;
}

.navbar-nav > li > a {
    color: white;
    font-size: 13px;
    padding-bottom: 0px;
}

.page_top {
    background-image: url("header_bg.png");
    background-size: cover;
    height: 900px;
    background-repeat: no-repeat;
}

.page_top .row {
    padding-top: 8em; 
}

.page_top .first {
    font-family: helvetica, sans-serif;
    font-size: 5.2em;
    font-weight: 600;
    color: #F5A623;
    text-align: center;
}

.page_top .last {
    font-family: helvetica, sans-serif;
    font-size: 5em;
    font-weight: 200;
    color: white;
    padding-top: 0;
    margin-top: 0;
    text-align: center;
}

.social {
    padding-top: 1.7em;
    padding-left: 0;
}

.social a i::before {
    margin-left: 0;
    padding-right: 15px;
}

.blurb hr{
    margin-top: 0;
}

.skill-blurb {
    padding-bottom: 12px;
}

.education_bg {
    background-image: url("education_bg.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.education p {
    line-height: normal;
    font-weight: 600;
    color: white;
}

.education h4 {
    font-weight: 600;
    padding-bottom: 2em;
    color: white;
}

.education h5 {
    color: #F5A623;
}

.glyphicon {
    color: white;
    font-size: 4em;
}

.skills_bg {
    background-color: #FAFAFA;
}

.progress {
    height: 10px;
    border-radius: 0;
}

.projects {
    padding-bottom: 15px;
}

.project-blurb p {
    padding-bottom: 12px;
}

.project_thumb img{
    height: auto;
    width: 100%;
    box-shadow: 1px 1px 9px #888888;
}

.project_info {
    padding-top: 15px;
}

.contact_title h1{
    color: white;
    font-size: 5em;
}

.contact_title h4 {
    font-weight: 200;
    font-size: 2.6em;
    padding-bottom: 1em;
}

.contact_title_sub h5{
    padding-top: 5em;
    font-weight: 700;
}

.social_contact {
    padding-left: .35em;
    padding-bottom: 2em;
}

.contact_title_sub hr {
    width: 30%;
    margin-bottom: 0;
    color: #4A4A4A;
}

.social_contact a i::before{
    letter-spacing: .25em;
    font-size: 2.5em;
}

.bottom {
    background-color: #4A4A4A;
}
